<section class="ftco-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 pr-lg-5">
        <div class="row justify-content-center pb-3">
          <div class="col-md-12 heading-section ftco-animate">
            <span class="subheading">Peluqueria NewFashion</span>
            <h2 class="mb-4">Nuestros Servicios</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ftco-animate">
            <div class="job-post-item py-4 d-block d-lg-flex align-items-center">
              <div class="one-third mb-4 mb-md-0">
                <div class="job-post-item-header d-flex align-items-center">
                  <h2 class="mr-3 text-black"><a href="#">$500</a></h2>
                  <div class="badge-wrap">
                      <span class="bg-info text-white badge py-2 px-3">Hombres</span>
                      <span class="bg-warning text-white badge py-2 px-3">Mujeres</span>
                    <span class="bg-primary text-white badge py-2 px-3">Niños</span>
                    <span class="bg-danger text-white badge py-2 px-3">50%OFF</span>
                  </div>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <span class="subheading">CORTE</span>
                </div>
              </div>

              <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">               
                <a href="job-single.html" class="btn btn-primary py-2">Reservar Turno</a>
              </div>
            </div>
          </div><!-- end -->

          <div class="col-md-12 ftco-animate">
            <div class="job-post-item py-4 d-block d-lg-flex align-items-center">
              <div class="one-third mb-4 mb-md-0">
                <div class="job-post-item-header d-flex align-items-center">
                  <h2 class="mr-3 text-black"><a href="#">$1500</a></h2>
                  <div class="badge-wrap">
                    <span class="bg-warning text-white badge py-2 px-3">Mujeres</span>
                  </div>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <span class="subheading">Alisado</span>
                </div>
              </div>
              <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">               
                <a href="job-single.html" class="btn btn-primary py-2">Reservar Turno</a>
              </div>
            </div>
          </div><!-- end -->

          <div class="col-md-12 ftco-animate">
            <div class="job-post-item py-4 d-block d-lg-flex align-items-center">
              <div class="one-third mb-4 mb-md-0">
                <div class="job-post-item-header d-flex align-items-center">
                  <h2 class="mr-3 text-black"><a href="#">$3500</a></h2>
                  <div class="badge-wrap">
                    <span class="bg-info text-white badge py-2 px-3">Hombres</span>
                    <span class="bg-warning text-white badge py-2 px-3">Mujeres</span>
                  </div>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <span class="subheading">TINTURA</span>
                </div>
              </div>

              <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">               
                <a href="job-single.html" class="btn btn-primary py-2">Reservar Turno</a>
              </div>
            </div>
          </div><!-- end -->


          <div class="col-md-12 ftco-animate">
            <div class="job-post-item py-4 d-block d-lg-flex align-items-center">
              <div class="one-third mb-4 mb-md-0">
                <div class="job-post-item-header d-flex align-items-center">
                  <h2 class="mr-3 text-black"><a href="#">$1500</a></h2>
                  <div class="badge-wrap">
                    <span class="bg-warning text-white badge py-2 px-3">Fulltime</span>
                  </div>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <span class="subheading">LAVADO</span>
                </div>
              </div>

              <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                <a href="job-single.html" class="btn btn-primary py-2">Reservar Turno</a>
              </div>
            </div>
          </div><!-- end -->  

          
        </div>
      </div>
      <div class="col-lg-3 sidebar">
        <div class="row justify-content-center pb-3">
          <div class="col-md-12 heading-section ftco-animate">
            <span class="subheading">Peluqueria NewFashion</span>
            <h2 class="mb-4">Sobre Nosotros</h2>
          </div>
        </div>
        <div class="sidebar-box ftco-animate">
          <div class="border">
            <a href="#" class="company-wrap"><img src="../../../assets/images/company-1.jpg" class="img-fluid"
                alt="Colorlib Free Template"></a>
            <div class="text p-3">
              <h3><a href="#">Google Company</a></h3>
              <p><span class="number">500</span> <span>Open position</span></p>
            </div>
          </div>
        </div>
        <div class="sidebar-box ftco-animate">
          <div class="border">
            <a href="#" class="company-wrap"><img src="../../../assets/images/company-2.jpg" class="img-fluid"
                alt="Colorlib Free Template"></a>
            <div class="text p-3">
              <h3><a href="#">Facebook Company</a></h3>
              <p><span class="number">700</span> <span>Open position</span></p>
            </div>
          </div>
        </div>      
      </div>
    </div>
  </div>
</section>