<!--div class="hero-wrap js-fullheight">
  <div class="overlay"></div>
  <div class="container-fluid px-0">
    <div class="row d-md-flex no-gutters slider-text align-items-end js-fullheight justify-content-end">
      <img class="one-third align-self-end order-md-last img-fluid"
        src="../../../assets/images/undraw_work_time_lhoj.svg" alt="">
      <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
        <div class="text mt-5">
          <p class="mb-4 mt-5 pt-5">We have <span class="number" data-number="200000">0</span> great job offers you
            deserve!</p>
          <h1 class="mb-5">Peluqueria NuevoNombre</h1>
        </div>
      </div>
    </div>
  </div>
</div-->

<section class="ftco-section img" style="background-image: url(images/bg_1.jpg); background-position: top center;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="browse-job p-5">
          <span class="icon-search2 icon"></span>
          <span class="subheading">Rubik</span>
          <h2>Peluqueria NewFashion</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
      </div>
    </div>
  </div>
</section>